main {
  background-color: var(--g950);
}

.content {
  padding: 5%;
  background-color: var(--g600);
  min-height: 50vh;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  font-size: clamp(1rem, 2vw, 1.15rem);
}

.list div {
  border: solid 1px var(--g100);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: var(--g700);
}

.list div:hover {
  border: solid 1px var(--g800);
}

.item {
  color: var(--g100);
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
}

.column {
  align-items: flex-start;
  flex-direction: column;
  text-decoration: underline;
  color: var(--g100);
}

.item img {
  overflow: hidden;
  height: 15rem;
}

/* article pages */

.simple-page {
  background-color: var(--g600);
  padding: 5%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.page {
  background-color: var(--g600);
  padding: 5% 7%;
  color: var(--g100);
  gap: 1rem;
  min-height: 100vh;
}

.info {
  color: var(--g100);
  display: flex;
}

.info p {
  flex: 75%;
  text-align: justify;
}

.card {
  color: var(--g950);
  background-color: var(--g700);
  border-radius: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  min-width: 25%;
  max-height: 100vh;
  margin: 0 5%;
}

.card img {
  max-height: 60vh;
  background-size: cover;
  margin: auto;
}

figcaption {
  color: var(--g200);
  text-align: center;
  padding: 2%;
}

.extra-info {
  background-color: var(--g400);
  text-align: left;
  padding: 2% 10%;
}

.first-h {
  text-align: center;
}

/* search results */

.results {
  padding: 2%;
  background-color: var(--g600);
}

.results a {
  color: var(--g100);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

/* footer */

.footer {
  padding: 2.5%;
  background-color: var(--g950);
  color: var(--g100);
  display: flex;
  flex-direction: column;
}

.footer-high {
  font-size: clamp(0.75rem, 2vw, 1.25rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.footer-low {
  font-size: clamp(0.75rem, 2vw, 1rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1180px) {
  .info {
    flex-direction: column-reverse;
  }

  .info p {
    text-align: justify;
  }

  .card {
    max-width: 80%;
    max-height: 70vh;
    margin: 10% auto;
  }

  .card img {
    max-height: 40vh;
  }

  .extra-info {
    font-size: smaller;
  }
}
