@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  /* font */
  --ff: "Poppins", sans-serif;

  /* colors */

  --g50: #f3f6f4;
  --g100: #e1eae2;
  --g200: #c5d5c9;
  --g300: #9eb7a4;
  --g400: #74937d;
  --g500: #54755f;
  --g600: #3f5c49;
  --g700: #344c3d;
  --g800: #2a3b30;
  --g900: #233128;
  --g950: #131b16;

  /* header imgs */
  --main-header: url(/imgs/Middle_Earth_Map.jpg);
  --character-header: url(/imgs/header-fellowship.jpg);
  --location-header: url(/imgs/location-header.webp);
  --races-header: url(/imgs/races-header.jpg);
  --events-header: url(/imgs/events-header.webp);
  --periods-header: url(/imgs/periods-header.webp);
  --weapons-header: url(/imgs/weapons-header.avif);
}

html {
  font-family: var(--ff);
}

html::-webkit-scrollbar {
  width: 11px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--g300) var(--g600);
}
html::-webkit-scrollbar-track {
  background: var(--g600);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--g300);
  border-radius: 6px;
  border: 3px solid var(--g600);
}