@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  /* font */
  --ff: "Poppins", sans-serif;

  /* colors */

  --g50: #f3f6f4;
  --g100: #e1eae2;
  --g200: #c5d5c9;
  --g300: #9eb7a4;
  --g400: #74937d;
  --g500: #54755f;
  --g600: #3f5c49;
  --g700: #344c3d;
  --g800: #2a3b30;
  --g900: #233128;
  --g950: #131b16;

  /* header imgs */
  --main-header: url(/imgs/Middle_Earth_Map.jpg);
  --character-header: url(/imgs/header-fellowship.jpg);
  --location-header: url(/imgs/location-header.webp);
  --races-header: url(/imgs/races-header.jpg);
  --events-header: url(/imgs/events-header.webp);
  --periods-header: url(/imgs/periods-header.webp);
  --weapons-header: url(/imgs/weapons-header.avif);
}

html {
  font-family: var(--ff);
}

html::-webkit-scrollbar {
  width: 11px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--g300) var(--g600);
}
html::-webkit-scrollbar-track {
  background: var(--g600);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--g300);
  border-radius: 6px;
  border: 3px solid var(--g600);
}

/* NAV */

.nav {
  position: sticky;
  top: 0;
  background-color: var(--g950);
  font-size: 1.25rem;
  padding: 1% 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  z-index: 999;
}

.nav a {
  text-decoration: none;
  color: var(--g100);
  padding: 0 10px;
}

.nav a:visited:hover {
  color: var(--g300);
}

.logo {
  background-image: url(/imgs/silmaril-icon-removebg-preview.png);
  width: 5vw;
  height: 8vh;
  background-position: center;
  background-size: cover;

  animation: rotate 0.5s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.5s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  5% {
    opacity: 0;
  }

  100% {
    transform: translateX(0px) rotate(180deg);
  }
}

.search-container {
  padding-left: 25%;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.search-container input,
.search-btn {
  height: 5vh;
  border-radius: 0.75rem;
  border-style: none;
  padding: 0.5rem;
  caret-color: var(--g900);
}

input:focus {
  outline: 3px solid var(--g500);
}

.search-container form {
  padding-top: 2%;
  display: flex;
}

a.search-btn {
  cursor: pointer;
  padding: 1% 10%;
  background-color: transparent;
  border: none;
  color: var(--g100);
  background-image: url(/imgs/icons8-search-24.png);
  background-repeat: no-repeat;
  margin: 2%;
}

/* HEADER */

.header {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header {
  background-image: var(--main-header);
}

.character-header {
  background-image: var(--character-header);
  background-position: bottom;
}

.location-header {
  background-image: var(--location-header);
  background-position: bottom;
}

.races-header {
  background-image: var(--races-header);
  background-position: 0 -3.75rem;
}

.events-header {
  background-image: var(--events-header);
}

.periods-header {
  background-image: var(--periods-header);
}

.weapons-header {
  background-image: var(--weapons-header);
  background-position: center;
}

.container-background {
  background: rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 0 10rem 0 black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header-logo {
  height: 70%;
}

.container-background h1 {
  color: var(--g100);
}

/* content */

.content {
  padding: 5%;
  background-color: var(--g500);
}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

#list div {
  border: solid 1px var(--g100);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: var(--g700);
}

#list div:hover {
  border: solid 1px var(--g800);
}

.item {
  color: var(--g100);
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
}

.column {
  align-items: flex-start;
  flex-direction: column;
  text-decoration: underline;
  color: var(--g100);
}

.item img {
  overflow: hidden;
  height: 12.5rem;
}

.page,
.simple-page {
  background-color: var(--g600);
  padding: 5%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.simple-page {
  padding: 10% 5%;
}

.info {
  color: var(--g100);
  flex: 75%;
}

.card {
  color: var(--g950);
  background-color: var(--g700);
  border-radius: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 25%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card img {
  height: 20rem;
  background-size: cover;
  margin: auto;
}

figcaption {
  color: var(--g200);
  text-align: center;
  padding: 2%;
}

.extra-info {
  background-color: var(--g400);
  text-align: left;
  padding: 2% 10%;
}

.first-h {
  text-align: center;
}

/* home */

.home-content {
  color: var(--g50);
  background-color: var(--g600);
}

.summary {
  color: var(--g100);
  font-size: 2rem;
  padding: 2% 5%;
  text-align: center;
}

.home-content h2 {
  text-align: center;
  white-space: nowrap;
}

.quote {
  margin: auto;
  width: 50%;
  font-size: 1.25rem;
  padding: 2% 0 5% 0;
}

.quote p {
  text-align: center;
  padding-bottom: 1%;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.divider::before,
.divider::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--g100);
}

/* cards */

.article-section {
  background-color: var(--g900);
  padding: 2% 7%;
}

.home-articles {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 2% 5%;
  overflow: hidden;
}

.home-card {
  position: relative;
  color: var(--g100);
  border-radius: 20px;
  font-size: 1.25rem;
}

.home-card img {
  height: 20rem;
  background-size: cover;
  border-radius: 20px;
}

.home-card p {
  position: absolute;
  padding: 2% 5%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.719);
}

/* results */

.results {
  background-color: var(--g300);
  padding: 2%;
  color: var(--g900);
}

.results a {
  color: var(--g950);
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

/* footer */

.footer {
  padding: 2.5%;
  background-color: var(--g950);
  color: var(--g100);
  display: flex;
  flex-direction: column;
}

.footer-high {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.footer-low {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* login */

.login-page {
  background-image: url(/imgs/login-background.webp);
  background-size: contain;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 30%;
  color: var(--g200);
  border-radius: 20px;
  padding: 5% 7%;
  padding: 30px 40px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
  font-size: 2.5rem;
  text-align: center;
}

.login-container .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid var(--g50);
  border-radius: 40px;
  font-size: 1rem;
  color: var(--g50);
  padding: 2% 4% 2% 2%;
  outline: none;
}

.input-box input::placeholder {
  color: var(--g50);
}

.input-box img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.submit-btn {
  width: 100%;
  height: 45px;
  background: var(--g50);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  color: var(--g950);
  font-weight: 600;
}

.submit-btn:hover {
  background: var(--g200);
}

.incorrect {
  background-color: rgb(145, 74, 74);
  margin-bottom: 5%;
  padding: 2% 0 2% 0;
  border-radius: 40px;
  text-align: center;
  display: none;
}

/* admin page */

.main-admin {
  background-color: var(--g950);
  color: var(--g100);
  min-height: 110vh;
  display: flex;
}


.sidebar {
  position: relative;
  top: 0;
  flex: 20%;
  border-right: 1px solid var(--g100);
}


.sidebar nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar button {
  height: 60px;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  text-align: left;
  padding: 0;
}

.sidebar button:first-child a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sidebar button:nth-child(2) a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.sidebar button:last-child {
  margin-top: 20%;
}

.sidebar button:last-child a{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sidebar button:hover {
  background-color: var(--g800);
}

.sidebar button > span {
  display: inline-flex;
  align-items: center;
  padding: 0 16px 0 12px;
  width: 100%;
  height: 100%;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.admin-page {
  flex: 80%;
  padding: 8% 3% 0 3%;
  position: relative;
}
/* races display */

.crud-table {
  width: 100%;
  border: 1px solid var(--g100);
  border-radius: 20px;
  table-layout: fixed;
  font-weight: bolder;
}

.crud-table thead {
  text-align: center;
  background-color: var(--g700);
  font-size: 1.25rem;
}

.crud-table th {
  background-color: var(--g500);
  padding: 1% 0;
}

.crud-table thead th {
  border-radius: 20px 20px 0 0;
  background-color: var(--g600);
}

.crud-table td {
  text-align: center;
  background-color: var(--g100);
  color: var(--g800);
  padding: 0.75% 0;
}

.crud-table tfoot th {
  border-radius: 0 0 20px 20px;
}

.add-btn {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.update-btn,
.delete-btn {
  font-family: inherit;
  border: none;
  border-radius: 5px;
  padding: 1.5% 3%;
  margin: 0 5%;
  cursor: pointer;
  color: var(--g50);
}

.update-btn {
  background-color: var(--g950);
}

.delete-btn {
  background-color: rgb(161, 74, 74);
}

.delete-modal {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-content {
  background-color: var(--g100);
  margin: auto;
  width: 30%;
  color: var(--g900);
  border-radius: 10px;
}

.modal-header {
  padding: 3%;
  background-color: var(--g200);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-text {
  padding: 3%;
  border-bottom: 1px solid var(--g500);
}

.modal-footer {
  padding: 3%;
  text-align: right;
}

.delete-confirm,
.cancel-btn {
  font-family: inherit;
  border: none;
  border-radius: 5px;
  padding: 1.5% 3%;
  margin: 0 2%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.delete-confirm{
  background-color: rgb(161, 74, 74);
  color: var(--g50);
}

.close-btn {
  cursor: pointer;
}

/* edit page */

.edit-page {
  background-color: var(--g950);
  min-height: 100vh;
  color: var(--g100);
  font-size: 1.5rem;
  display: flex;
}

#edit-form {
  background-color: var(--g600);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 1% 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex: 80%;
  margin: 5%;
}

#edit-form h2 {
  text-align: center;
}

.edit-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.edit-input input:focus, .edit-input textarea:focus {
  outline: none;
}

.edit-input input, .edit-input textarea {
  border-radius: 20px;
  border: none;
  font-size: inherit;
  padding: 1% 2%;
  resize: none;
  font-size: 1rem;
  color: var(--g900);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--g50);
}

.edit-confirm { 
  padding: 1%;
  margin: auto;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  width: 5rem;
  color: var(--g900);
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
  background-color: var(--g200);
}

.edit-confirm:hover {
  cursor: pointer;
  background-color: var(--g100);
}

/* location edit */

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type="file"] {
 height: 2.75rem;
 margin: 1% 0;
}

.location-img, .character-img {
  height: 40vh;
  width: 20vw;
  margin: auto;
}

.admin-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}

.admin-header p {
  padding: 3% 2%;
  font-size: 2rem;
}





